.ui-widget {
	font-size: 12px;
}

.ui-state-default  .ui-icon-novo{
	background-image: url(../images/plus-circle.png);
}

.ui-state-default  .ui-icon-editar{
	background-image: url(../images/pencil.png);
}

.ui-state-default  .ui-icon-excluir{
	background-image: url(../images/minus-circle.png);
}


.ui-state-default .ui-icon-cancelar{
	background-image: url(../images/cross-circle.png);
}

.ui-state-default .ui-icon-salvar{
	background-image: url(../images/disquete.gif);
}

body{
	font-size: 12px;
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
	top: 0;
	text-indent: -9999px;
}

.ui-tabs .ui-tabs-panel {
	padding: 0;
}
