.ui-widget {
	font-size: 12px;
}

.ui-state-default  .ui-icon-novo{
	background-image: url(../images/plus-circle.png);
}

.ui-state-default  .ui-icon-editar{
	background-image: url(../images/pencil.png);
}

.ui-state-default  .ui-icon-excluir{
	background-image: url(../images/minus-circle.png);
}

